

.cv h1 {
    display: grid;
    text-align: center;
    align-items: center;
    font-size: 100px;
    padding-top: 17rem;
	margin-inline: auto;
}

.cv p {
    display: grid;
    text-align: center;
    align-items: center;
    font-size: 20px;
	margin-inline: auto;
    margin-top: 5px;
}

.cvbutton {
	cursor: pointer;
    float: left;
    margin-left: 45%;
    text-align: center;
    align-items: center;
	text-decoration: none;
	color: white;
	background-color: blueviolet;
    margin-top: 2rem;
	padding: 0.5em 0.5em;
	border-radius: 0.5rem;
}

.cvbutton:hover,
.cvbutton:focus {
	background-color: white;
    color: black
}

.skills {
    padding-top: 20rem;
    text-align: center;
    
}

.skill {
    margin-top: 3.5rem;
    display: grid;
	gap: 1.5rem;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	padding-block: 0rem;
    
	width: min(50%, 100rem);
	margin-inline: auto;
}

.skills li {
    list-style: none;
}

.motivations {
    background-image: url(https://wallpapercave.com/wp/kEWoNLl.jpg);
}
.moti {
    display: grid;
	gap: 1.5rem;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	padding-block: 10rem;
    
	width: min(50%, 100rem);
	margin-inline: auto;

   

}