/* Background */

.cv {
    background-image: url(/img/bg_top_home.png);
	background-repeat: cover;
}

/* Gaps */

.gap{width:200px;background:none;height:177px;display:inline-block}
.gap2{width:200px;background:none;height:50px;display:inline-block}

/* Text */

.cv h1 {
    display: grid;
    text-align: center;
    align-items: center;
    font-size: 100px;
    padding-top: 17rem;
	margin-inline: auto;
    color: rgb(255, 255, 255);
}

.cv p {
    display: grid;
    text-align: center;
    align-items: center;
    font-size: 25px;
	margin-inline: auto;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

/* Button */

.cvbutton {
	cursor: pointer;
    text-align: center;
    align-items: center;
	text-decoration: none;
	color: white;
	background-color: rgb(161, 43, 116);
    margin-top: 2rem;
	padding: 0.5em 0.5em;
	border-radius: 0.5rem;
}

/* Button Animation */

.cvbutton:hover,
.cvbutton:focus {
	background-color: white;
    color: black
}

/* Images */

.planet {
    position: absolute;
    top: 4.25rem;
    width: 200px;
    right: 12%;
}

.astro {
    position: absolute;
    z-index: -9;
    top: 45rem;
}

.orange {
    position: absolute;
    top: 3rem;
    width: 250px;
    left: 6%;
    z-index: 0;
}

@media (max-width: 1020px) {
	.cv h1 {
		font-size: 80px;
	}

    .cv p {
		font-size: 20px;
	}

  }

  @media (max-width: 720px) {
	.cv h1 {
		font-size: 50px;
	}

    .cv p {
		font-size: 18px;
	}

    .gap{width:0px;background:none;height:300px;display:inline-block}
  }

  @media (max-width: 540px) {
	.cv h1 {
		font-size: 40px;
	}

    .cv p {
		font-size: 15px;
	}

    .astro {
        width: 100%;
    }
  }

  @media (max-width: 320px) {
	.cv h1 {
		font-size: 30px;
	}

    .cv p {
		font-size: 18px;
	}

    
  }

/* Skills Grid */

.skills {
    text-align: center;
    
}

.skills li {
    list-style: none;
    text-align: center;
}

.skills h1 {
    font-size: 50px;
    color: black;
}

.skill h4 {
    font-size: 30px;
    color: black;
}

/* Skills Position */

.skill {
    margin-top: 1rem;
    display: grid;
	gap: 4rem;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	width: min(50%, 100rem);
	margin-inline: auto;
    padding-block: 2.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1.5em;
}

@media (max-width: 860px) {
    .skills {
        padding-top: 0;
    }
	.skills h1 {
		font-size: 40px;
	}

    .skill h4 {
		font-size: 20px;
	}

    .skill {
        grid-template-columns: repeat(1, 1fr);
    }

    .astro {
        position: absolute;
        z-index: -9;
        top: 55rem;
    }
  }

  @media (max-width: 500px) {
      .skill {
        width: min(100%, 100rem);
      }
  }

  @media (max-width: 320px) {
	.skills h1 {
		font-size: 40px;
	}

    .skill h4 {
		font-size: 20px;
	}

    .skill {
        grid-template-columns: repeat(1, 1fr);
    }
  }

/* Motivation Background */

.motivations {
    background-image: url(/img/bg_bottom_home.png);
	background-size: cover;
    padding-top: 13rem;
}

/* Motivation Grid */

.motivation {
    display: grid;
	gap: 1.5rem;
	padding-bottom: 11rem;
    z-index: 999;
    width: min 10em;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
}

.motivation h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.motivation p {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

@media (max-width: 860px) {
    .motivation {
        padding-right: 10%;
        padding-left: 10%;
    }

	.motivation h1 {
		font-size: 30px;
	}

    .motivation p {
		font-size: 18px;
	}
}

/* Aligning the buttons Homepage */

.o {
    margin-top: 5rem;
}
