footer {
    background: rgb(102, 102, 102);
    height: auto;
    width: 100%;
    color: white;
    padding-top: 40px;
    overflow: hidden;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social-media {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social-media li {
    margin: 0 10px;
}

.social-media a {
    text-decoration: none;
    color: white;
}

.social-media a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.social-media a:hover {
    color: violet;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}