*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Background */

.bg {
	background-image: url(/img/bg_projects.png);
	background-size: cover;
}

/* Image */
.splosh {
    position: absolute;
	top: 2rem;
	right: -24rem;
	width: 750px;
}

@media (max-width: 1202px) {
	.splosh {
		display: none;
	}
}

/* Text */

.title {
	position: relative;
	padding-top: 2em;
    text-align: center;
	font-size: 80px;
	color: white;
}

.text {
    text-align: center;
	font-size: 1.3rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	padding-bottom: 4rem;
	padding-top: 4rem;
	border-radius: 0.5rem;
}

/* Cards 5* - Portfolio + Libft + Printf + B2R + GNL */

/* Portfolio */

/* Grid */

.card-grid {
	display: grid;
	gap: 1.5rem;
	align-items: center;
	margin-top: -50px;
	padding-block: 10rem;
	width: min(80%, 13rem);
	margin-inline: auto;
}
  
  @media (min-width: 70em) {
	.card-grid {
		grid-template-columns: repeat(3, 1fr);
		width: min(50%, 44rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 85.5em) {
	.card-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(50%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 56.8em) {
	.card-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(100%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 500px) {
	.card-grid {
		grid-template-columns: repeat(1, 1fr);
		width: min(100%, 13rem);
		margin-inline: auto;
		align-items: center;
	}
  }

.flex {
	display: flex;
	gap: var(--gap, 10rem);
  }

/* Card Body */

.card {
	color:rgb(255, 255, 255);
	background-image: url(/img/portfolio.png);
	background-size: cover;
	padding: 5rem 0rem 0rem;
	max-width: 20ch;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: transform 500ms ease;
}

/* Card Animation */

.card:hover,
.card:focus-within {
	transform: scale(1.05);
}

/* Card Content */

.card-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(20 0% 0% / .3) 20%,
		hsl(0 0% 0% / 1)
	);
}

.card-title {
	position: relative;
	width: max-content;
    bottom: 10px;
}

.card-title::after {
	content: '';
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	bottom: -2px;
	width: calc(100% + var(--padding));
	background: rgb(161, 43, 116);
	transform-origin: left;
	transition: transform 1300ms ease;
}

/* Card Content Animation */

.card:hover .card-title::after,
.card:focus-within .card-title::after {
	transform: scaleX(1);
}

.card-body {
	color: rbg(255 255 255 / 0.85)
}

/* Card Hover Animation */

@media (hover) {
	.card-content {
		transform: translateY(65%);
		transition: transform 500ms ease;
	}

	.card-content > *:not(.card-title) {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	
	.card:hover .card-content,
	.card:focus-within .card-content {
		transform: translateY(0);
		transition-delay: 250ms;
	}
	
	.card:focus-within .card-content {
		transition-duration: 0ms;
	}
	
	.card:hover .card-content > *:not(.card-title),
	.card:focus-within .card-content > *:not(.card-title) {
		opacity: 1;
		transition-delay:500ms;
	}

	.card-title::after {
		transform: scaleX(0);
	}
}

/* Card Button */

.button {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: black;
	background-color: rgb(161, 43, 116);
	margin-top: 20px;
	padding: 0.2em 0.2em;
	border-radius: 0.75rem;
}

/* Card Button Animation */

.button:hover,
.button:focus {
	background-color: white;
}

/* Take animations off for mobile and low animation devices */

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms
		!important;
		animation-iteration-count: 1
		!important;
		transition-duration: 0.01ms
		!important;
		scroll-behavior: auto !important;
		transition-delay: 0ms !important;
	}
}

/* Libft */

.card2-grid {
	display: grid;
	gap: 1.5rem;
	align-items: center;
	padding-block: 10rem;
	width: min(80%, 13rem);
	margin-inline: auto;
}
  
  @media (min-width: 70em) {
	.card2-grid {
		grid-template-columns: repeat(3, 1fr);
		width: min(50%, 44rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 85.5em) {
	.card2-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(50%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 56.8em) {
	.card2-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(100%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 500px) {
	.card2-grid {
		grid-template-columns: repeat(1, 1fr);
		width: min(100%, 13rem);
		margin-inline: auto;
		align-items: center;
	}
  }

.flex {
	display: flex;
	gap: var(--gap, 10rem);
  }
  
.card2 {
	color:rgb(255, 255, 255);
	background-image: url(/img/libft.png);
	background-size: cover;
	padding: 5rem 0rem 0rem;
	max-width: 20ch;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: transform 500ms ease;
}

.card2:hover,
.card2:focus-within {
	transform: scale(1.05);
}

.card2-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(20 0% 0% / .3) 20%,
		hsl(0 0% 0% / 1)
	);
}

.card2-title {
	position: relative;
	width: max-content;
    bottom: 10px;
}

.card2-title::after {
	content: '';
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	bottom: -2px;
	width: calc(100% + var(--padding));
	background: rgb(161, 43, 116);
	transform-origin: left;
	transition: transform 1300ms ease;
}

.card2:hover .card2-title::after,
.card2:focus-within .card2-title::after {
	transform: scaleX(1);
}

.card2-body {
	color: rbg(255 255 255 / 0.85)
}

@media (hover) {
	.card2-content {
		transform: translateY(65%);
		transition: transform 500ms ease;
	}

	.card2-content > *:not(.card2-title) {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	
	.card2:hover .card2-content,
	.card2:focus-within .card2-content {
		transform: translateY(0);
		transition-delay: 250ms;
	}
	
	.card2:focus-within .card2-content {
		transition-duration: 0ms;
	}
	
	.card2:hover .card2-content > *:not(.card2-title),
	.card2:focus-within .card2-content > *:not(.card2-title) {
		opacity: 1;
		transition-delay:500ms;
	}

	.card2-title::after {
		transform: scaleX(0);
	}
}

/* Printf */

.card3-grid {
	display: grid;
	gap: 1.5rem;
	align-items: center;
	padding-block: 10rem;
	width: min(80%, 13rem);
	margin-inline: auto;
}
  
  @media (min-width: 70em) {
	.card3-grid {
		grid-template-columns: repeat(3, 1fr);
		width: min(50%, 44rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 85.5em) {
	.card3-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(50%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 56.8em) {
	.card3-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(100%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 500px) {
	.card3-grid {
		grid-template-columns: repeat(1, 1fr);
		width: min(100%, 13rem);
		margin-inline: auto;
		align-items: center;
	}
  }

.flex {
	display: flex;
	gap: var(--gap, 10rem);
  }
  
.card3 {
	color:rgb(255, 255, 255);
	background-image: url(/img/p.png);
	background-size: cover;
	padding: 5rem 0rem 0rem;
	max-width: 20ch;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: transform 500ms ease;
}

.card3:hover,
.card3:focus-within {
	transform: scale(1.05);
}

.card3-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(20 0% 0% / .3) 20%,
		hsl(0 0% 0% / 1)
	);
}

.card3-title {
	position: relative;
	width: max-content;
    bottom: 10px;
}

.card3-title::after {
	content: '';
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	bottom: -2px;
	width: calc(100% + var(--padding));
	background: rgb(161, 43, 116);
	transform-origin: left;
	transition: transform 1300ms ease;
}

.card3:hover .card3-title::after,
.card3:focus-within .card3-title::after {
	transform: scaleX(1);
}

.card3-body {
	color: rbg(255 255 255 / 0.85)
}

@media (hover) {
	.card3-content {
		transform: translateY(65%);
		transition: transform 500ms ease;
	}

	.card3-content > *:not(.card3-title) {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	
	.card3:hover .card3-content,
	.card3:focus-within .card3-content {
		transform: translateY(0);
		transition-delay: 250ms;
	}
	
	.card3:focus-within .card3-content {
		transition-duration: 0ms;
	}
	
	.card3:hover .card3-content > *:not(.card3-title),
	.card3:focus-within .card3-content > *:not(.card3-title) {
		opacity: 1;
		transition-delay:500ms;
	}

	.card3-title::after {
		transform: scaleX(0);
	}
}

/* B2R */

.card4-grid {
	display: grid;
	gap: 1.5rem;
	align-items: center;
	padding-block: 10rem;
	width: min(80%, 13rem);
	margin-inline: auto;
}
  
  @media (min-width: 70em) {
	.card4-grid {
		grid-template-columns: repeat(3, 1fr);
		width: min(50%, 44rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 85.5em) {
	.card4-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(50%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 56.8em) {
	.card4-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(100%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 500px) {
	.card4-grid {
		grid-template-columns: repeat(1, 1fr);
		width: min(100%, 13rem);
		margin-inline: auto;
		align-items: center;
	}
  }

.flex {
	display: flex;
	gap: var(--gap, 10rem);
  }
  
.card4 {
	color:rgb(255, 255, 255);
	background-image: url(/img/b2r.png);
	background-size: cover;
	padding: 5rem 0rem 0rem;
	max-width: 20ch;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: transform 500ms ease;
}

.card4:hover,
.card4:focus-within {
	transform: scale(1.05);
}

.card4-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(20 0% 0% / .3) 20%,
		hsl(0 0% 0% / 1)
	);
}

.card4-title {
	position: relative;
	width: max-content;
    bottom: 10px;
}

.card4-title::after {
	content: '';
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	bottom: -2px;
	width: calc(100% + var(--padding));
	background: rgb(161, 43, 116);
	transform-origin: left;
	transition: transform 1300ms ease;
}

.card4:hover .card4-title::after,
.card4:focus-within .card4-title::after {
	transform: scaleX(1);
}

.card4-body {
	color: rbg(255 255 255 / 0.85)
}

@media (hover) {
	.card4-content {
		transform: translateY(65%);
		transition: transform 500ms ease;
	}

	.card4-content > *:not(.card4-title) {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	
	.card4:hover .card4-content,
	.card4:focus-within .card4-content {
		transform: translateY(0);
		transition-delay: 250ms;
	}
	
	.card4:focus-within .card4-content {
		transition-duration: 0ms;
	}
	
	.card4:hover .card4-content > *:not(.card4-title),
	.card4:focus-within .card4-content > *:not(.card4-title) {
		opacity: 1;
		transition-delay:500ms;
	}

	.card4-title::after {
		transform: scaleX(0);
	}
}

/* GNL */

.card5-grid {
	display: grid;
	gap: 1.5rem;
	align-items: center;
	padding-block: 10rem;
	width: min(80%, 13rem);
	margin-inline: auto;
}
  
  @media (min-width: 70em) {
	.card5-grid {
		grid-template-columns: repeat(3, 1fr);
		width: min(50%, 44rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 85.5em) {
	.card5-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(50%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 56.8em) {
	.card5-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(100%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 500px) {
	.card5-grid {
		grid-template-columns: repeat(1, 1fr);
		width: min(100%, 13rem);
		margin-inline: auto;
		align-items: center;
	}
  }

.flex {
	display: flex;
	gap: var(--gap, 10rem);
  }
  
.card5 {
	color:rgb(255, 255, 255);
	background-image: url(/img/gnl.png);
	background-size: cover;
	padding: 5rem 0rem 0rem;
	max-width: 20ch;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: transform 500ms ease;
}

.card5:hover,
.card5:focus-within {
	transform: scale(1.05);
}

.card5-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(20 0% 0% / .3) 20%,
		hsl(0 0% 0% / 1)
	);
}

.card5-title {
	position: relative;
	width: max-content;
    bottom: 10px;
}

.card5-title::after {
	content: '';
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	bottom: -2px;
	width: calc(100% + var(--padding));
	background: rgb(161, 43, 116);
	transform-origin: left;
	transition: transform 1300ms ease;
}

.card5:hover .card5-title::after,
.card5:focus-within .card5-title::after {
	transform: scaleX(1);
}

.card5-body {
	color: rbg(255 255 255 / 0.85)
}

@media (hover) {
	.card5-content {
		transform: translateY(65%);
		transition: transform 500ms ease;
	}

	.card5-content > *:not(.card5-title) {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	
	.card5:hover .card5-content,
	.card5:focus-within .card5-content {
		transform: translateY(0);
		transition-delay: 250ms;
	}
	
	.card5:focus-within .card5-content {
		transition-duration: 0ms;
	}
	
	.card5:hover .card5-content > *:not(.card5-title),
	.card5:focus-within .card5-content > *:not(.card5-title) {
		opacity: 1;
		transition-delay:500ms;
	}

	.card5-title::after {
		transform: scaleX(0);
	}
}

/* Push Swap */

.card6-grid {
	display: grid;
	gap: 1.5rem;
	align-items: center;
	padding-block: 10rem;
	width: min(80%, 13rem);
	margin-inline: auto;
}
  
  @media (min-width: 70em) {
	.card6-grid {
		grid-template-columns: repeat(3, 1fr);
		width: min(50%, 44rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 85.5em) {
	.card6-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(50%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 56.8em) {
	.card6-grid {
		grid-template-columns: repeat(2, 1fr);
		width: min(100%, 28rem);
		margin-inline: auto;
		align-items: center;
	}
  }

  @media (max-width: 500px) {
	.card6-grid {
		grid-template-columns: repeat(1, 1fr);
		width: min(100%, 13rem);
		margin-inline: auto;
		align-items: center;
	}
  }

.flex {
	display: flex;
	gap: var(--gap, 10rem);
  }
  
.card6 {
	color:rgb(255, 255, 255);
	background-image: url(/img/yoyo.png);
	background-size: cover;
	padding: 5rem 0rem 0rem;
	max-width: 20ch;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: transform 500ms ease;
}

.card6:hover,
.card6:focus-within {
	transform: scale(1.05);
}

.card6-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(20 0% 0% / .3) 20%,
		hsl(0 0% 0% / 1)
	);
}

.card6-title {
	position: relative;
	width: max-content;
    bottom: 10px;
}

.card6-title::after {
	content: '';
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	bottom: -2px;
	width: calc(100% + var(--padding));
	background: rgb(161, 43, 116);
	transform-origin: left;
	transition: transform 1300ms ease;
}

.card6:hover .card6-title::after,
.card6:focus-within .card6-title::after {
	transform: scaleX(1);
}

.card6-body {
	color: rbg(255 255 255 / 0.85)
}

@media (hover) {
	.card6-content {
		transform: translateY(65%);
		transition: transform 500ms ease;
	}

	.card6-content > *:not(.card6-title) {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	
	.card6:hover .card6-content,
	.card6:focus-within .card6-content {
		transform: translateY(0);
		transition-delay: 250ms;
	}
	
	.card6:focus-within .card6-content {
		transition-duration: 0ms;
	}
	
	.card6:hover .card6-content > *:not(.card6-title),
	.card6:focus-within .card6-content > *:not(.card6-title) {
		opacity: 1;
		transition-delay:500ms;
	}

	.card6-title::after {
		transform: scaleX(0);
	}
}