*,
*::before,
*::after {
	box-sizing: border-box;
	/*outline: 1px solid tomato;*/
}

body {
	margin: 0;
	font-family: 'Merriweather Sans', sans-serif;
	background-color: rgb(31, 31, 36);
  } 

h1 {
	color: white;
	position: absolute;
    top: 5vw;
    left: 20vw;
}

p {color: white;}

  .topnav {
	width: 100%;
	background-color: rgb(31, 31, 36);
	overflow: auto;
  }

  .topnav a {
	float: left;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 12px;
	width: 25%; /* Four links of equal widths */
	text-align: center;
  }
  
  .topnav a:hover {
	background-color: rgb(231, 231, 231);
	color: rgb(0, 0, 0)
  }
  
  .topnav a.active {
	background-color: rgb(231, 231, 231);
	color: black;
  }
  
  .img1 {
	width: 29px;
	position: absolute;
	top: 50vh;
	right:60vh;
  }


  @media screen and (max-width: 500px) {
	.topnav a {
	  float: none;
	  display: block;
	  width: 100%;
	  text-align: left;
	}
  }