*,
*::before,
*::after {
	box-sizing: border-box;
	outline: 1px tomato;
}

body {
	margin: 0;
	font-family: 'Merriweather Sans', sans-serif;
	background-color: rgb(31, 31, 36);
  } 

h1 {
	color: white;
	display: inline-block;
}

p {color: white;}

.header {
	float: none;
	position: absolute;
	top: 35%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 100px;
}

@media screen and (max-width: 1500px) {
	.header {
		float: none;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 60px;
	}
  } 

  @media screen and (max-width: 900px) {
	.header {
		float: none;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 40px;
	}
  } 

.sub-title {
	float: none;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
}