*,
*::before,
*::after {
	box-sizing: border-box;
}

.topnav {
	width: 100%;
	overflow: auto;
  }

.topnav a {
	float: left;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	/*width: 25%;  Four links of equal widths */
	text-align: center;
  }

.topnav-right a {
	float: right
}
  
.topnav a:hover {
	background-color: rgb(231, 231, 231);
	color: rgb(0, 0, 0)
  }
  
/*.topnav a.active {
	background-color: rgb(231, 231, 231);
	color: black;
  } */

/*@media screen and (max-width: 600px) {
	.topnav-right a {
		float: none;
	  	width: 25%;
	}
}*/
 

 @media screen and (max-width: 500px) {
	.topnav a {
	  float: left;
	  width: 25%;
	  text-align:center;
	  font-size: 10.5px;
	}
  } 

  @media screen and (max-width: 500px) {
	.topnav-right a  {
	  float: right;
	  width: 25%;
	  text-align:center;
	  font-size: 10.5px;
	}
  } 